.section{
  margin-top: 8rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & > p{
      font-size: 2rem;
      max-width: 60rem;
    }
    .cv-link {
      text-decoration: underline;
      color: black; /* Set link color to black */
    }

    .cv-link:visited {
      color: black; /* Prevent visited links from changing color */
    }
  }
}